In [16]:
from datetime import datetime, timedelta, date
from dateutil import relativedelta

In [2]:
def last_day_of_month(date):
    if date.month == 12:
        return date.replace(day=31)
    return date.replace(month=date.month+1, day =1) - timedelta(days=1)

In [9]:
today = date.today()
print(today)
year = today.year
print(year)
month = today.month
print(month)
day = today.day
print(day)

2022-04-01
2022
4
1

In [13]:
teste = datetime(year, month, day)
print(teste)

2022-04-01 00:00:00

In [14]:
teste2 = datetime(year, month, day).date()
print(teste2)

2022-04-01

In [10]:
#Pega o ultimo dia do mês
DT_FINAL = last_day_of_month(datetime(year, month, day)).date()
print(DT_FINAL)

2022-04-30

In [17]:
#Pega o primeiro dia do mês 
DT_INICIAL = today + relativedelta.relativedelta(month=0, day=1)
print(DT_INICIAL)

2022-04-01

In [19]:
#Pega ano e mes 
SAFRA = today.strftime('%Y%m')
print(SAFRA)

202204